name: Publish to (Test)PyPI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags: ["v*"]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.0
        with:
          repository-url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          packages-dir: dist

